.homePageContent{
    background-color: gold;
}


.projects{
    background-color: rgb(254, 255, 253);
    height: auto;
    display: grid;
    grid-template-columns: 0.33fr 0.67fr;

}
.projectPlaceholder{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.projectGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
.projectPer{
    background: linear-gradient(to right, rgb(190, 187, 187) , rgb(234, 231, 231));
    margin: 5px;
    padding:10px;
    height:auto;

}


.projectTitle{
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stacks{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

.stackItem{
    text-align: center;
}
.skills{
    background-color: khaki;
    height: 100vh;

}
.socials{
    background-color: lightblue;
    height: 100vh;

}



@media only screen and (max-width: 600px) {
.projects{
    display: grid;
    grid-template-columns: 1fr;
}
.projectGroup{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}


}