

.projects{
    background-color: rgb(254, 255, 253);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.33fr 0.67fr;
align-items: center;
}
.projectPlaceholder{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.skillPlaceholder{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
   
    padding: 100px;

}

.projectGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
.projectPer{
    background: linear-gradient(to right, rgb(234, 230, 230) , rgb(253, 253, 253));
    margin: 5px;
    padding:10px;
    height:auto;

}


.projectTitle{
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stacks{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

.stackItem{
    text-align: center;
}
.skills{
    background:linear-gradient(to right, rgb(255, 255, 255) , rgb(234, 231, 231));
    height: auto;
    

}
.skillGroup{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.skillPer{
    border: 1px solid white;
    height: auto;
    
}
.skillPerInner{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

   
}
.skillPerMoreInner{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
   grid-template-rows: 1fr 0.4fr;
}

.skillPerName{
    
    text-align: center;
    margin: 5px;
    padding: 20px;
}
.skillPerLogo{
    padding:auto;
    margin: auto;
}
.skillPerLogo>img{
    height: 50px;
}


.skillPerTitle{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    

}



@media only screen and (max-width: 600px) {
.projects{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}
.projectGroup{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}
.skills{
    height: auto;
    background-color: white;
    color:rgb(44, 22, 44) ;
}
.skillPlaceholder{
    padding: 30px;
}
.socials{
    height:auto;
}


}


.section{
    padding: 0px;
  }