.homePageContent{
    background-color: gold;
}


.projects{
    background-color: greenyellow;
    height: 100vh;

}

.skills{
    background-color: khaki;
    height: 100vh;

}
.socials{
    background-color: lightblue;
    height: 100vh;

}