.socials{
    color:rgb(2, 2, 2);
    height: auto;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0deg 0% 96%);
}

.socialGroup{
    display: flex;
    list-style: none;
    flex-direction: row;
    
   
    

}



.socialPer>img{
    height: 50px;
    margin-right: 10px;
    
}


@media only screen and (max-width: 600px) {
   
    
  
    
    .socialPlaceholder{
        text-align: center;
    }
    .socialPer>img{
        height: 30px;
        margin-right: 5px;
        
    }
    



}
